.all-battle-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1%;
  align-items: center;
}

.battle {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.battle-cards {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin-bottom: 2%;
  border: 1px solid rgb(124, 124, 124);
}

.battle-cards p {
  width: 90%;
}

.battle-cards h2 {
  margin-top: 4%;
}

.battle-cards img {
  margin: 2% 0;
}
